<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGINA</title>
    <style>
    
                    
    .select { border-radius: 6px; background-color: lightyellow; }                         
      
  </style>
</head>
<body>

    <h1 style="text-align:center;">ACTIVIDAD PAGINA</h1>

    <label for="input">INGRESE SU NOMBRE</label>
    <input 
        type="text"
        name="nombre"
        id="nombre"
        value="Mateo"
        required
        autofocus
        style="padding-left: 10px;"
    >
    <br>
    <br>

    <label for="">ESCRIBA SU HOBBY</label>
    <textarea style="font-size:14px;">  
        
    </textarea>

    <br>
    <br>

    <label for="lista" style="font-weight: 500;">SELECCIONE SU GÉNERO DE MÚSICA FAVORITO</label>
    <select name="lista" id="lista" class="select" required autofocus>
                <option value="" selected>POP</option>
                <option value="" selected>SALSA</option>
                <option value="" selected>COUNTRY</option>
                <option value="" selected>ROCK</option>
                

    </select>

    <br>
    <br>

    <labeL for="" style="background-color: blueviolet;">MARQUE SI ES ECUATORIANO</labeL>

    <label for="ecuatoriano">SI</label>
    <input type="checkbox" name="ecuatoriano" id="ecuatoriano" value="si" checked style="accent-color: rgb(142, 199, 199);">

    

    <br>
    <br>

    <label for="" style="color: blue;">SELECCIONE SU SEXO:</label>

    <label for="hombre">HOMBRE</label>
    <input type="radio" name="sexo" id="nombre" value="hombre" checked style="font-size: large;">

    <label for="mujer">MUJER</label>
     <input type="radio" name="sexo" id="nombre" value="mujer" style="font-style: oblique;">





    
</body>
</html>